<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index.html</title>
</head>
<body>
    <h1>Hi from Server</h1>
    <p>
        Hello <%= locals.name || "Guest" %>
    </p>
</body>
</html>
