<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/users" method="post">
        <label for="firstName">
            First Name
        </label>
        <input type="text" id="firstName" name="firstName" value="<%= locals.firstName %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
